@model  Worker.UI.Models.HobbyCRUDModel

@{
    ViewBag.Title = "Update";
}

<h2>Güncelleme Sayfası</h2>

@using (Html.BeginForm("Update", "Hobby", FormMethod.Post))
{
    @Html.HiddenFor(s => s.HobbyId)

    <div class="form-group">

        <div class="form-group">
           @Html.TextBoxFor(s=>s.HobbyName,new  { @class="form-control",requrired=""})
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Güncelle" id="hobby" />
        </div>


        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        <script>
            $('#hobby').click(function () { alert('Hobi Güncellendi...'); });
        </script>

    </div>
}

